<header>
  <!-- Nav Bar -->
  <nav
    id="navbar"
    class="navbar navbar-light navbar-expand-sm minimal-nav {% if site.navbar_fixed %}fixed-top{% else %}sticky-top{% endif %}"
    role="navigation"
  >
    <div class="container">
      <a class="navbar-brand title font-weight-lighter" href="{{ '/' | relative_url }}">
        {% if site.title == 'blank' %}
          {% if site.first_name %}
            <span class="font-weight-bold">
              {{- site.first_name -}}
            </span>
          {% endif %}
          {% if site.middle_name %}
            {{- site.middle_name -}}
          {% endif %}
          {% if site.last_name %}
            {{- site.last_name -}}
          {% endif %}
        {% else %}
          {{- site.title -}}
        {% endif %}
      </a>
      <!-- Navbar Toggle -->
      <button
        class="navbar-toggler collapsed ml-auto"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>

      <div class="collapse navbar-collapse text-right" id="navbarNav">
        <ul class="navbar-nav ml-auto flex-nowrap">
          {% for item in site.data.navigation %}
            {% assign item_url = item.url %}
            {% assign is_external = false %}
            {% assign has_anchor = false %}
            {% if item_url contains '://' or item_url contains 'mailto:' %}
              {% assign is_external = true %}
            {% endif %}
            {% if item_url contains '#' %}
              {% assign has_anchor = true %}
            {% endif %}
            {% assign is_active = false %}
            {% if item_url == '/' and page.permalink == '/' %}
              {% assign is_active = true %}
            {% elsif is_external == false and has_anchor == false and page.url == item_url %}
              {% assign is_active = true %}
            {% endif %}

            <li class="nav-item {% if is_active %}active{% endif %}">
              <a
                class="nav-link"
                href="{% if is_external %}{{ item_url }}{% else %}{{ item_url | relative_url }}{% endif %}"
                {% if item.new_tab %}
                  target="_blank" rel="noopener noreferrer"
                {% endif %}
              >
                {{- item.title -}}
                {% if is_active %}
                  <span class="sr-only">(current)</span>
                {% endif %}
              </a>
            </li>
          {% endfor %}
          {% if site.search_enabled %}
            <!-- Search -->
            <li class="nav-item">
              <button id="search-toggle" title="Search" onclick="openSearchModal()">
                <span class="nav-link">ctrl k <i class="ti ti-search"></i></span>
              </button>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  {% if site.enable_progressbar %}
    <!-- Scrolling Progress Bar -->
    <progress id="progress" value="0">
      <div class="progress-container">
        <span class="progress-bar"></span>
      </div>
    </progress>
  {% endif %}
</header>
